@import url("https://fonts.googleapis.com/css2?family=Handlee&family=League+Spartan:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}
h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}
h6 {
  font-weight: 700;
  font-size: 12px;
}
p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}
.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}
button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  transition: 0.3s ease;
}
body {
  width: 100%;
}
/* Header*/

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  background-color: #e3e6f3;
  z-index: 999;
  position: sticky;
  left: 0;
  top: 0;
}
.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#header #mobile {
  display: none;
  align-items: center;
}
#header #navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: #1a1a1a;
  transition: 0.3s ease-in-out;
}
#navbar li a:hover,
#navbar li a.active {
  color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: #088178;
  position: absolute;
  left: 21px;
  bottom: 0px;
}
/*home page */

#hero {
  background-image: url(./img/banner/bia2.jpg);
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0px 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4 {
  padding-bottom: 15px;
}
#hero h1 {
  color: #088178;
}
#hero button {
  background-image: url("./img/button.png");
  background-color: transparent;
  color: #088178;
  padding: 14px 80px 14px 65px;
  border: none;
  cursor: pointer;
}
#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#feature .fea-box {
  width: 180px;
  text-align: center;
  border: 1px solid #cce7d0;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border-radius: 4px;
  margin: 15px 0;
  cursor: pointer;
}
#feature .fea-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 211, 0.1);
}
#feature .fea-box img {
  width: 100%;
  margin-bottom: 10px;
}

#feature .fea-box h6 {
  display: inline-block;
  color: #088178;
  background-color: #fddde4;
  padding: 10px 10px;
  border-radius: 5px;
}
#feature .fea-box:nth-child(2) h6 {
  background-color: #cdebbc;
}
#feature .fea-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}
#feature .fea-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}
#feature .fea-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}
#feature .fea-box:nth-child(6) h6 {
  background-color: #fff2e5;
}
/* Sytle product*/
#product1 {
  text-align: center;
}
#product1 .pro-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#product1 .pro {
  width: 23%;
  border: 1px solid #cce7d0;
  padding: 20px 20px;
  margin-top: 20px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
  position: relative;
  transition: 0.3s ease;
}
#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
}
#product1 .pro img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 15px;
}
#product1 .pro .des {
  text-align: start;
}
#product1 .pro .des span {
  color: #606063;
  font-size: 12px;
}
#product1 .pro .des h5 {
  color: #1a1a1a;
  padding-top: 10px;
  font-size: 14px;
}
#product1 .pro .des .star {
  color: rgb(243, 243, 13);
  padding-top: 5px;
  font-size: 12px;
}
#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}
#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  right: 20px;
  bottom: 20px;
}
#product1 .pro .cart:hover {
  background-color: #fddde4;
}
#banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("./img//banner/b2.jpg");
  height: 40vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

#banner h4 {
  color: #fff;
  font-size: 16px;
}
#banner h2 {
  color: #fff;
  font-size: 30px;
  padding: 10px;
}
#banner button:hover {
  background-color: #f6dbf6;
}
#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#sm-banner .banner-box {
  background-image: url("./img//banner/bia4.jpg");
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  min-width: 580px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  transition: 0.3s ease;
  border-radius: 5px;
}
#sm-banner .banner-box button:hover {
  background-color: #606063;
}
#sm-banner .banner-box:nth-child(2) {
  background-image: url("./img//banner/bia2.jpg");
  color: white;
}
#sm-banner .banner-box button {
  margin-top: 10px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}
#sm-banner .banner-box h4 {
  color: #fff;
}
#sm-banner .banner-box h2 {
  color: #fff;
}

#sm-banner .banner-box button:hover {
  background-color: #606063;
}
#sm-banner .banner-box:nth-child(2) h4 {
  color: #000;
}
#sm-banner .banner-box:nth-child(2) h2 {
  color: #000;
}
#sm-banner .banner-box:nth-child(2) button {
  color: #000;
}

#banner3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#banner3 .banner-box {
  background-image: url(./img//banner/b7.jpg);
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  min-width: 350px;
  padding-left: 60px;
  height: 30vh;
  background-size: cover;
  background-position: center;
  transition: 0.3s ease;
  border-radius: 5px;
  color: #fff;
}
#banner3 .banner-box:nth-child(2) {
  background-image: url(./img//banner/b18.jpg);
}
#banner3 .banner-box:nth-child(3) {
  background-image: url(./img//banner/b4.jpg);
}
#news-letter {
  background-image: url("./img/banner/b14.png");
  background-color: #041e42;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#news-letter .letter {
  text-align: start;
}
#news-letter .letter h2 {
  color: #fff;
}
#news-letter .letter p {
  color: #cce7d0;
}
#news-letter .letter p span {
  color: #fff566;
}

#news-letter .form {
  display: flex;
  width: 40%;
}
#news-letter .form input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline-style: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#news-letter .form button {
  background-color: #088178;
  color: #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  white-space: nowrap;
}
/*footer*/
footer {
  text-align: center;

  width: 100%;
}
#close {
  display: none;
}

/*shop page*/
#page-header {
  background-image: url(./img/banner/b1.jpg);
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#page-header h4 {
  font-size: 50px;
  color: #fff;
}
#page-header p {
  font-size: 20px;
  color: #fff;
}

#pagination {
  text-align: center;
  margin-top: 30px;
}
#pagination a {
  text-decoration: none;
  background-color: #088178;
  color: #fff;
  padding: 15px 20px;
  font-weight: 600;
  border-radius: 4px;
}
#pagination a i {
  font-size: 16px;
  font-weight: 600;
}

/* single-page-product*/
#prodetails {
  display: flex;
  margin-top: 20px;
}
#prodetails .sigle-pro-img {
  width: 40%;
  margin-right: 50px;
}
#prodetails .single-pro-detail {
  width: 50%;
  padding-top: 30px;
}
#prodetails .single-pro-detail h4 {
  padding: 40px 0 20px 0;
}
#prodetails .single-pro-detail h2 {
  font-size: 26px;
}
#prodetails .single-pro-detail select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}
#prodetails .single-pro-detail input {
  width: 50px;
  height: 30px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}
#prodetails .single-pro-detail input:focus {
  outline: none;
}
#prodetails .single-pro-detail button {
  background-color: #088178;
  color: #fff;
}
#prodetails .single-pro-detail button:hover {
  background-color: #606063;
}
#prodetails .single-pro-detail span {
  line-height: 25px;
}
.small-img-group {
  display: flex;
  justify-content: space-between;
}
.small-img-col {
  display: flex;
  flex-basis: 24%;
  cursor: pointer;
}

/* blog page */
#page-header.blog-header {
  background-image: url(./img/banner/bia3.jpg);
}
#blog {
  padding: 150px 150px 0 150px;
}
#blog .blog-box {
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
  padding-bottom: 150px;
}
#blog .blog-box .blog-img {
  width: 50%;
  margin-right: 50px;
}
#blog .blog-box .blog-detail {
  width: 50%;
}
#blog .blog-box .blog-detail a {
  text-decoration: none;
  font-size: 11px;
  color: #000;
  font-weight: 700;
  transition: 0.3s;
  position: relative;
}
#blog .blog-box .blog-detail a::after {
  content: "";
  height: 1px;
  width: 50px;
  background-color: #000;
  position: absolute;
  top: 4px;
  left: 105px;
}
#blog .blog-box .blog-detail a:hover {
  color: #088178;
}
#blog .blog-box .blog-detail a:hover::after {
  background-color: #088178;
}
#blog .blog-box h1 {
  position: absolute;
  top: -50px;
  font-size: 150px;
  color: #606063;
  z-index: -999;
}
#blog .blog-box img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* about page */

#page-header.about-header {
  background-image: url(./img/about/banner.png);
}
#about-head {
  display: flex;
  align-items: center;
}
#about-head img {
  width: 50%;
  height: 400px;
  margin-right: 20px;
  object-fit: cover;
}
#about-head .about-detail {
  padding-right: 50px;
}
#about-app {
  text-align: center;
}
#about-app .video {
  width: 70%;
  height: 100%;
  margin: 20px auto;
}
#about-app .video video {
  width: 100%;
  height: 100%;
}
/* contact page */
#page-header.contact-header {
  background-image: url(./img/banner/bia4.jpg);
}
#contact-detail {
  display: flex;
}
#contact-detail ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#contact-detail ul li i {
  margin-right: 10px;
  padding-bottom: 5px;
}
.map {
  width: 50%;
}

.container input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
#form-detail {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 20px auto;
}
#form-detail h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
}
/* cart page */
#cart {
  overflow-x: auto;
}
#cart table {
  width: 100%;

  border-collapse: collapse;
  table-layout: fixed;
}
#cart table img {
  width: 70px;
  height: 70px;
}
#cart table td:nth-child(1) {
  text-align: center;
}
#cart table td:nth-child(2) {
  text-align: center;
}
#cart table td:nth-child(3) {
  text-align: center;
}
#cart table td:nth-child(4) {
  text-align: center;
}
#cart table td:nth-child(5) {
  text-align: center;
}
#cart table td:nth-child(5) input {
  padding: 10px 15px;
  width: 70px;
}
#cart table td:nth-child(6) {
  text-align: center;
}
#cart table thead {
  border: 1px solid #000;
  border-left: none;
  border-right: none;
}
#cart table thead td {
  font-weight: 700;
  padding: 15px 0;
  font-size: 20px;
  text-transform: uppercase;
}

#cart-add {
  display: flex;
  justify-content: space-between;
}
#cart-add .coupon {
  width: 40%;
}
#cart-add .coupon div {
  display: flex;
  margin-top: 20px;
}
#cart-add .coupon div input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
#cart-add .coupon div input:focus {
  outline: none;
}
#cart-add .coupon div button {
  background-color: #088178;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  color: white;
}
#cart-add .total {
  width: 50%;
  border: 1px solid #465b52;
  border-radius: 4px;
  padding: 10px 10px;
}
#cart-add .total h3 {
  text-align: center;
  margin-bottom: 20px;
}
#cart-add .total table,
tr,
td {
  border: 1px solid #000;
  width: 100%;
}
#cart-add .total table td {
  width: 50%;
}
#cart-add .total button {
  background-color: #088178;
  margin-top: 20px;
  color: white;
}

/* media screen*/
@media (max-width: 799px) {
  #sm-banner {
    align-items: center;
    justify-content: center;
  }
  #banner3 {
    align-items: center;
    justify-content: center;
  }

  #header #navbar {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #cdd4f8;
    position: fixed;
    height: 100vh;
    width: 300px;
    right: -999px;
    top: 0;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
    padding-top: 50px;
  }
  #header #navbar li {
    margin-top: 20px;
  }
  #header #mobile {
    display: flex;
  }
  #mobile i {
    font-size: 24px;
    padding-left: 20px;
  }

  #header #navbar.active {
    right: 0;
  }
  #close {
    display: initial;
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 24px;
    color: #000;
  }
  #lg-bag {
    display: none;
  }
  #hero {
    background-position: top 30% right 30%;
  }

  #product1 .pro-container {
    justify-content: center;
    flex-wrap: wrap;
  }
  #product1 .pro {
    width: 40%;
    margin-right: 10px;
  }
  #news-letter .form {
    display: flex;
    width: 100%;
  }
  /* blogpage */
  #blog .blog-box h1 {
    font-size: 100px;
    top: -40px;
  }
  /* contact-page */
  #contact-detail {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 477px) {
  #product1 .pro {
    width: 100%;
  }
  #feature {
    margin-left: 20px;
  }
  #sm-banner .banner-box {
    min-width: 350px;
  }
  #news-letter .form {
    display: flex;
    width: 100%;
  }

  #prodetails {
    flex-direction: column;
  }
  #prodetails .sigle-pro-img {
    width: 100%;
    margin-right: 50px;
  }
  /* blogpage */
  #blog {
    padding: 100px 20px 0 20px;
  }
  #blog .blog-box h1 {
    font-size: 50px;
    top: -40px;
  }
  #blog .blog-box .blog-img {
    width: 50%;
    margin-right: 10px;
  }

  /* about page */
  #about-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #about-head img {
    width: 100%;
  }
  #about-head .about-detail {
    padding-right: 0px;
    text-align: center;
  }
  #about-head .about-detail h2 {
    font-size: 30px;
  }
  /* contact-page */
  .map {
    margin-right: 5px;
  }
  #cart table {
    width: 800px;
  }
  #cart-add {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #cart-add .total {
    width: 100%;
    margin-top: 20px;
  }
}
